<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mark Furrow</title>
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

	<div id="container">
		<header id="header">
			
			<div class="hgroup">
				<h1><a href="/">Mark <span class="hide-on-mobile">Williams</span> Furrow</a><span class="tree-line"></span></h1>
				<h2>Web Developer With Some Designer Chops</h2>
			</div>
					
		</header>
		<nav id="nav">
			<a class="home_button" href=""><span>Home</span></a>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/work">Work</a></li>
				<li><a href="/skills">Skills</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
		
		<div id="central">
			
			<section class="home">

				<div class="four_col portrait"></div>
				<div class="eight_col">
					<p>I believe the process of creating a website ought to be a collaborative process between client and designer. I pride myself on being approachable, easy to work with and intuitive.</p>
					<p>My experience as a designer, coupled with the ability to problem-solve and write code, allows me to combine form and function to create seamless, functional, intuitive and beautiful places to showcase my client’s endeavors.  While the websites I create are painstakingly hand-coded, I believe that a developer’s work is at it’s best when unseen and un-noticed.</p>
					
					<p style="text-align: right;">Find out if I'm available for hire, by visiting: <a href="http://canihire.markfurrow.com">www.canihire.markfurrow.com</a></p>
					
				</div>

			</section>
			
			<section class="gallery">
				<header>
					<h3>Work</h3>
				</header>
				<div class="thumb-info default">
					<script id="previewTemplate" type="text/template">
						<div class="title"><%= title %></div>
						<p class="content"><%= description %></p>
						<p class="link"><a href="work/<%= id %>">See More &raquo;</a></p>
					</script>	
				</div>

			</section>
			
			<section class="skills">
				
				<div class="skill-list-wrap">
					
					<header>
						<span></span>
						<h3>Developer Knowledge</h3>
					</header>
					<section>
						
						<div class="six_col">

							<h4>Front-End</h4>
							
							<ul>
								<li>HTML5</li>
								<li>CSS3</li>
								<li>SASS</li>
								<li>Compass</li>
								<li>JavaScript
									<ul>
										<li>jQuery</li>
										<li>BackboneJS</li>
										<li>Underscore</li>
										<li>RequireJS</li>
									</ul>
								</li>
							</ul>

							<h4>Back-End</h4>
							<ul>
								<li>LAMP Environment
									<ul>
										<li>Linux</li>
										<li>Apache</li>
										<li>MySQL</li>
										<li>PHP</li>
									</ul>
								</li>
								<li>Wordpress</li>
							</ul>
							
						</div>
						
						<div class="six_col omega">

							<h4>Development Tools</h4>
							<ul>
								<li>Sublime Text</li>
								<li>Terminal
									<ul>
										<li>Bower</li>
										<li>Yeoman</li>
										<li>Grunt</li>
									</ul>
									<li>Espresso</li>
									<li>GIT</li>
								</li>
								<li>CodeKit</li>
							</ul>

							<h4>Design Tools</h4>
							<ul>
								<li>Photoshop</li>
								<li>Fireworks</li>
								<li>Illustrator</li>
								<li>InDesign</li>
								<li>After Effects</li>
								<li>Final Cut Pro</li>
							</ul>

						</div>
						
					</section>
				</div>
					
			</section>
			
			<section class="contact">
				
				<h3>Contact</h3>
				<div class="icon icon-facebook"></div>
				<div class="icon icon-twitter"></div>
				<div class="icon icon-instagram"></div>
				<div class="icon icon-linkedin"></div>
				<div class="icon icon-behance"></div>
				<div class="icon icon-github-alt"></div>
				
			</section>
			
		</div> <!-- end #central -->
			
		
		<footer>
			
		</footer>
	</div> <!-- end #container -->
	
	<script data-main="app/config" src="assets/js/libs/require.js"></script>
</body>
</html>
